.image {
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image img {
    height: 10vw;
    width: 30vw
}

.welcomeText {
    font-size: 3.5vw;
    font-weight: 600;
    line-height: 1.199;
    letter-spacing: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

.helpText {
    font-size: 2vw;
    margin-top: 3%;
    font-weight: 400;
    line-height: 1.199;
    letter-spacing: 0;
    font-style: oblique;
    display: flex;
    align-items: center;
    justify-content: center;
}